<% content_for :header do %>
  <meta property="og:title" content="A cool model at TreeDee.net"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://treedee.net/objects/<%= @object.id %>"/>
  <meta property="og:image" content="<%= @object.default_image %>"/>
  <meta property="og:site_name" content="TreeDee.net"/>
  <meta property="og:description" content="You can print stuff in 3D without an expensive 3D printer! How? Why with 1980's technology my friend!"/>
<% end %>
<% content_for :social_media do %>
  <div class="fb-like" data-href="http://treedee.net" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
  <a href="https://twitter.com/share" data-url="http://treedee.net/objects/<%= @object.id %>" data-text="Check out this cool 3D model!" class="twitter-share-button" data-lang="en"></a>
<% end %>

<div id="loading">
  <img src="/assets/cogs204.gif" />
  Thinking about stuffs..
</div>

<div id="treedee"></div>
<script type="text/javascript">
    var modelToLoad = '<%= raw @object.model.url %>',
      modelUUID = '<%= @object.id %>';
</script>

<div id="tools">
    <a href="#" class="button" id="print">Print</a>
    <a href="#" class="button" id="image">Image</a>

    <a href="#" class="button" id="zoom-in">Zoom In</a>
    <a href="#" class="button" id="zoom-out">Zoom Out</a>    
    <a href="#" class="button" id="pan-left">Left</a>
    <a href="#" class="button" id="pan-down">Down</a>
    <a href="#" class="button" id="pan-up">Up</a>
    <a href="#" class="button" id="pan-right">Right</a>
    <a href="#" class="button" id="position">Position</a>
    <div id="position-settings">
      X rotation:<br />
      <div id="x-slider"></div><input type="text" id="x-label" class="slider-label" value="0" /><br />
      Y rotation:<br />
      <div id="y-slider"></div><input type="text" id="y-label" class="slider-label" value="0" /><br />
      Z rotation:<br />
      <div id="z-slider"></div><input type="text" id="z-label" class="slider-label" value="0" /><br />
      Focal length:<br />
      <div id="focal-length-slider"></div><input type="text" id="focal-length-label" class="slider-label" value="0" />
    </div>

    <a href="#" class="button" id="threedee">Toggle 3D</a>
    <a href="#" class="button" id="material">Material</a>
    <div id="material-selector">
      <div id="swatches">
        <% %w{ 
          000000 0000AA 00AA00 00AAAA 
          AA0000 AA00AA AA5500 AAAAAA
          555555 5555FF 55FF55 55FFFF
          FF5555 FF55FF FFFF55 FFFFFF
        }.each do |color| %>
          <a href="#" class="button" style="background-color: #<%= color %>;" data-color="<%= color %>"><%= color %></a>
        <% end %>
      </div>
    </div>
</div>
